html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    height: 80px;
    width: 100vw;
}
.my-main-menu {
    position: fixed;
    height: 80px;
    background-color: indigo;
    width: 100vw;
    color: #fff;
    display: flex
;
    justify-content: space-between;
    z-index: 10;
}
.my-main-menu ul {
    display: flex
;
    list-style: none;
    width: calc(100% - 100px);
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
}
.my-name-holder {
    width: 100px;
    display: flex
;
    align-items: center;
    font-family: fantasy;
    padding-left: 20px;
    justify-content: center;
}
.my-main-menu li{
    list-style: none;
    color: #fff;
}
.my-main-menu a {
    color: #fff;
    text-decoration: none;
}
.menu-items-li:hover {
    font-weight: bold;
    color: #a3a3a3;
}
section.my-hello-section {
    display: flex
;
    width: 100%;
    min-height: 100vh;
}
.profile-pic {
    width: calc(50%);
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.profile-pic-hl {
    max-width: 400px;
    aspect-ratio: 1;
    overflow: hidden;
}
.profile-pic-hl-hl {
    display: flex
;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1;
}
.profile-pic-hl-hl img {
    width: 100%;
}
.welcome-text {
    display: flex
;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}
.welcome-text h2 {
    font-weight: 400;
    font-size: 2.5rem;
    font-style: italic;
    width: calc(100% - 80px);
    margin: 40px;
}
.primary-btn {
    padding-block: 20px;
    padding-inline: 40px;
    border-radius: 40px;
    border: 2px solid indigo;
    color: white;
    font-size: 1.0rem;
    font-weight: lighter;
    background: transparent;
}
.primary-btn:hover {
    background-color: indigo;
    color: #fff;
}
.wl-btn-hl {
    display: flex
;
    width: calc(100% - 40px);
    margin: 20px;
    justify-content: start;
}
.wl-btn-hl .primary-btn {
    margin-right: 50px;
}
.welcome-text h1 {
    font-weight: bold;
    font-size: 5rem;
    width: calc(100% - 80px);
    margin: 40px;
}


footer {
    display: flex
;
    width: 100vw;
    background: #000;
    justify-content: center;
    align-items: center;
    height: 80px;
}
section.real-hello-section {
    background: url(./media/hello.jpg);
    width: 100vw;
    min-height: 100vh;
    display: flex
;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hello-sec-dr {
    background: #000000b3;
    display: flex
;
    width: 100%;
    justify-content: start;
    align-items: end;
    padding-bottom: 80px;
}
.hello-sec-content {
    margin-block: 10rem;
    margin-inline: 7rem;
    display: flex
;
    flex-direction: column;
    max-width: 500px;
}
.hello-sec-content h1 {
    font-size: 4rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0;
    background: -webkit-linear-gradient(#ff9696, #962fe1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hello-sec-content p {
    color: #fff;
}
section.my-projects {
    display: flex
;
    background: #000;
    justify-content: center;
}
.my-projects-cont {
    width: 90%;
    max-width: 800px;
    margin-block: 80px;
    color: #fff;
}
.my-projects-cont h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
}
.my-projects-i-hl {
    display: flex
;
    flex-direction: column;
}
.my-projects-i {
    background: white;
    color: #000;
    margin-block: 20px;
    display: flex
;
    max-height: 250px;
    overflow: hidden;
}
.my-projects-i-dsec {
    width: calc(50%);
    display: flex
;
    flex-direction: column;
    padding: 20px;
}
.my-projects-i-media {
    width: 50%;
    display: flex
;
    justify-content: end;
    overflow: hidden;

}
.my-projects-i-media video, img {
    height: 100%;
}
section.contact-section {
    display: flex
;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background: #fefe;
}
.contact-section-hl {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin-block: 80px;
    height: 90%;
    display: flex
;
    flex-direction: column;
}
.contact-section-hl h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: lighter;
}
.form-group {
    width: calc(100% - 80px);
    margin-inline: 40px;
    margin-block: 20px;
    display: flex
;
    flex-direction: column;
}
.form-group input {
    border: none;
    outline: none;
}
.form-group input, textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin-top: 20px;
}
